:root{
    --black: #2a2a2a;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.4;
}

a{
    text-decoration: none;
    color: var(--black);
}

li{ list-style: none; }

img{ width: 100% }

/* General Code*/

.header{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.promociones{
    width: 100%;
    text-align: center;
    background-color: #ECEB98;
    padding: 1.5rem;
}

.text-bold{
    font-weight: bold;   
}

.text-dias{
    font-size: 1.9rem;
}

.header-nav{
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10rem rgba(0,0,0,0.1);
}

.header-nav > img{
    width: 9rem;
}

.header-nav > input{
    width: 40%;
    height: 90%;
    border-radius: 80px;
    padding: 1.5rem;
}

.header-nav > li > svg{
    width: 3rem;
}

.sub-nav{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.home-section{
    width: 100%;
    height: 70vh;
    background-image: url(../img/background-img.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.home-section > .home-information{
    width: 45rem;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 2rem;
    margin: 0 15rem;
}

.home-section > .home-information > h1{
    font-size: 3.8rem;
}

.home-section > .home-information > p{
    font-size: 1.8rem;
}